#name {
    border-radius: 20px;
}
#fatherName {
    border-radius: 20px;
}
#age {
    border-radius: 20px;
}
#email {
    border-radius: 20px;
}
#submit {
    border-radius: 20px;
}
#rollNo {
    border-radius: 20px;
}
#getAllStudent {
    border-radius: 20px;
}
#getStudent {
    border-radius: 20px;
}